$main-bg-color: #07160f02;
$main-bg-color-opacity: #4f58530a;
$light-green: #095ac400;
$light-green-hover: #659765de;
$blue-text: #222fde;
$light-yellow-text: #f6dac7;
$card-bg:#503f3f73;
$main-text-color: #ffffff;
$main-text-shadow: 3px 2px 3px #11271b;
$shadow-border: 0px 0px 0px 4px #4746449a inset;
$shadow-card: #000000c4 0px 5px 15px;
$active-filter: drop-shadow(0px 0px 9px $blue-text);